:root{
    // Font-Size
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-xxl: 24px;
    --fs-xxxl: 28px;


    // Font-Weight
    --fw-light: 400;
    --fw-normal:500;
    --fw-medium:550;
    --fw-bold: 600;

    // Border-Radius
    --br-sm: 5px;


    // Color
    --grey: #808080;
    --light-grey: #a8a8b3;
    --black:#3C3D43;
    --white:#FFFFFF;
    --rose:#FDBAA3;
    --red:#f7685C;
    --green:#30C58D;
    --cream:#FFFDFA;
}

.light{
    background-color: var(--white);
    color: var(--black);
}

.dark{
    background-color: var(--black);
    color: var(--white);
}